

  <!-- Links -->
<!--  <div class="d-none d-sm-block d-none d-md-block headerClass navbar-nav row container-fluid">
    <ul class=" col-sm-12 col-md-12">
    <li class=" col-sm-5 col-md-5" > BNY MELLON
    </li>
    <li class=" col-sm-4 col-md-4">my CIO
    </li>
  
      <li class=" col-sm-3 col-md-3">
     <a class="col-sm-4 col-md-4"><i class="fas fa-bell"></i>
         <span class="badge badge-pill badge-danger">5</span></a>
          
          <a class="col-sm-4 col-md-4"><i class="fas fa-search"></i></a>
          <a class="col-sm-4 col-md-4"><i class="fas fa-user-circle"></i><span>John Doe</span></a>
    </li>
  </ul>
  </div>-->


<div class="topnav" id="myTopHeader">
  <a class="nav-link">BNY MELLON</a>
   <a class="alignCenter nav-link">my CIO</a>
   <div class="alignHeader"> <a class=""><i class="fas fa-bell"></i>
         <span class="badge badge-pill badge-danger">5</span></a>
   <a class=""><i class="fas fa-search"></i></a>
          <a class=""><i class="fas fa-user-circle"></i><span>John Doe</span></a>
    <a href="javascript:void(0);" class="icon" (click)="toggleHeader()">
    <i class="fa fa-bars"></i>
  </a>
</div>
  </div>