
<div class="topnav" id="myTopnav">
  <a class="nav-link" routerLink="/analyticsReport" routerLinkActive="active">Analytics Reporting</a>
   <a class="nav-link" routerLink="/sMonitoring" routerLinkActive="active">Server Monitoring</a>
    <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
 <a class="nav-link" routerLink="/timelines" routerLinkActive="active">Timelines</a>
  <a href="javascript:void(0);" class="icon" (click)="toggleFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

  